.container
  height: 100%
  display: flex
  flex-direction: column
  overflow-y: scroll
  padding-bottom: 60px
  padding-right: 20px
  &::-webkit-scrollbar-track
    background-color: white
  &::-webkit-scrollbar
    width: 7px
    background-color: white
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgb(163, 162, 162, 0.53)

.header
  display: flex
  flex-direction: row
  padding: 10px 0
  opacity: 0.5
  flex-shrink: 0
  font-size: 13px
  >div
    flex-shrink: 0
    &:nth-child(1)
      width: 6%
    &:nth-child(2)
      width: 32%
    &:nth-child(3)
      width: 50%
    &:nth-child(4)
      width: 12%
      text-align: right

.content
  height: 100%
