.container
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px
  margin-top: -1px
  box-sizing: border-box
  border-bottom: 2px solid white
  cursor: pointer
  font-size: 15px
  transition: all 0.5s ease
  &:hover
    border-color: #ffa95e
  >div
    flex-shrink: 0
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    &:nth-child(1)
      width: 7%
      height: 40px
      display: flex
      align-items: center
    &:nth-child(2)
      width: 32%
      font-weight: 600
      padding-right: 25px
      box-sizing: border-box
    &:nth-child(3)
      width: 49%
    &:nth-child(4)
      width: 12%
      text-align: right
      user-select: none

.tools
  display: none
  align-items: center
  justify-content: flex-end
  margin-left: auto
  >a
    height: 20px
  svg
    width: 16px
    height: 16px
    pointer-events: none
  >span
    height: 20px
    margin-right: 13px
    font-size: 30px
    line-height: 16px

.animation
  width: 18px
  height: 18px
  position: relative
  span
    margin: 0 auto
    display: block
    width: 18px
    height: 18px
    border-radius: 9px
    position: absolute
    &:nth-child(1)
      top: 0
      background: #ffa95e
      animation: circleScale 3s infinite
      animation-delay: 1.5s
      z-index:1
    &:nth-child(2)
      top: 0
      background: #f66
      animation: circleScale 3s infinite
      z-index: 10

.playing
  border-color: #f66

.disabled
  opacity: 0.2
  &:hover
    border-color: white

.active
  padding-left: 10px
  box-sizing: border-box

.authorized
  &:hover
    >div
      &:nth-child(4)
        .tools
          display: flex
        .duration
          display: none

@keyframes circleScale
  0%
    transform: scale(0)
  50%
    transform: scale(1)
  100%
    transform: scale(0)

@media (max-width: 700px)
  .container
    flex-wrap: wrap
    >div
      &:nth-child(1)
        display: none
      &:nth-child(2)
        width: 83%
      &:nth-child(3)
        width: 83%
        margin-top: 3px
      &:nth-child(4)
        width: 17%
        font-size: 11px
        align-self: flex-end

  .playing
    >div
      &:nth-child(4)
        .tools
          display: flex
        .duration
          display: none

  .authorized
    &:hover
      >div
        &:nth-child(4)
          .tools
            display: flex
          .duration
            display: none
