.container
  display: flex
  align-items: center
  justify-content: flex-end
  >a
    height: 20px
  svg
    width: 16px
    height: 16px
    pointer-events: none
  >span
    height: 20px
    margin-right: 13px
    font-size: 30px
    line-height: 16px
