.container
  display: flex
  flex-direction: row
  margin-bottom: 10px
  >div
    padding-left: 15px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    &:nth-child(1)
      width: 50px
    &:nth-child(2)
      width: 250px
    &:nth-child(3)
      width: 400px
    &:nth-child(4)
      width: 100px
