.container
  display: block
  margin-left: 20px
  position: relative
  user-select: none
  >div
    cursor: pointer
    &:hover
      svg
        path
          fill: #ffa95e

.stick
  display: flex
  align-items: center
  justify-content: center
  width: 27px
  height: 145px
  position: absolute
  bottom: 34px
  left: -2px
  background: white
  border: 1px solid
  border-color: rgb(163, 162, 162, 0.53)
  border-radius: 5px
  >div
    width: 9px
    height: 130px
    position: relative;
    background: rgba(163, 162, 162, 0.33)
    >div
      width: 100%
      background: #ffa95e
      position: absolute
      bottom: 0

.button
  &:after
    content: ""
    display: block
    width: 13px
    height: 13px
    position: relative
    left: -3px
    top: -2px
    border-radius: 8px
    border: 1px solid gray
    background: white

@media (max-width: 500px)
  .container
    display: none
