.container
  display: flex
  flex-direction: row
  align-items: center
  margin-right: 20px
  margin-top: 6px
  user-select: none
  >div
    cursor: pointer
    &:nth-child(2)
      margin-left: 19px
      margin-right: 18px
    &:hover
      svg
        path
          fill: #ffa95e

@media (max-width: 500px)
  .container
    width: 100%
    justify-content: space-evenly
    padding-top: 20px
    margin: 0
    >div
      &:hover
      svg
        path
          fill: rgb(163, 162, 162)
