.container
  height: 80px
  display: flex
  flex-direction: row
  align-items: center
  position: relative
  padding-top: 7px
  border-top: 1px solid
  border-color: rgb(163, 162, 162, 0.53)
  box-sizing: border-box
  flex-shrink: 0

.info
  >div
    &:nth-child(1)
      font-weight: 600
